<section class="card">
    <div class="cardbody">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis iste ad ex alias voluptatem eveniet nemo tenetur similique nostrum facilis!</p>
    </div>
</section>